ul {
    li {
      background-color: black;
      .loop(@i: 1) when (@i <= 100) { // Миксин для цикла
        &:nth-child(@{i}) { // Интерполяция в селекторе
          @red: @i;
          @green: 256 - @i;
          @blue: 0;
  
          color: rgb(@red, @green, @blue);
        }
        .loop((@i + 1)); // Рекурсивный вызов миксина
      }
      .loop(); // Запуск цикла
    }
  }